<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HandsOn_TaxiCab_Aug30</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.training.servlets.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.training.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.training.servlets.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookingInformationServlet</display-name>
    <servlet-name>DisplayBookingInformationServlet</servlet-name>
    <servlet-class>com.training.servlets.DisplayBookingInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookingInformationServlet</servlet-name>
    <url-pattern>/DisplayBookingInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookLaterServlet</display-name>
    <servlet-name>BookLaterServlet</servlet-name>
    <servlet-class>com.training.servlets.BookLaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookLaterServlet</servlet-name>
    <url-pattern>/BookLaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookingLaterInformationServlet</display-name>
    <servlet-name>DisplayBookingLaterInformationServlet</servlet-name>
    <servlet-class>com.training.servlets.DisplayBookingLaterInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookingLaterInformationServlet</servlet-name>
    <url-pattern>/DisplayBookingLaterInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduledTripsServlet</display-name>
    <servlet-name>ScheduledTripsServlet</servlet-name>
    <servlet-class>com.training.servlets.ScheduledTripsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduledTripsServlet</servlet-name>
    <url-pattern>/ScheduledTripsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletedTripsServlet</display-name>
    <servlet-name>CompletedTripsServlet</servlet-name>
    <servlet-class>com.training.servlets.CompletedTripsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletedTripsServlet</servlet-name>
    <url-pattern>/CompletedTripsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelledTripsServlet</display-name>
    <servlet-name>CancelledTripsServlet</servlet-name>
    <servlet-class>com.training.servlets.CancelledTripsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelledTripsServlet</servlet-name>
    <url-pattern>/CancelledTripsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecialOffersServlet</display-name>
    <servlet-name>SpecialOffersServlet</servlet-name>
    <servlet-class>com.training.servlets.SpecialOffersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialOffersServlet</servlet-name>
    <url-pattern>/SpecialOffersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableCabsNowServlet</display-name>
    <servlet-name>AvailableCabsNowServlet</servlet-name>
    <servlet-class>com.training.servlets.AvailableCabsNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableCabsNowServlet</servlet-name>
    <url-pattern>/AvailableCabsNowServlet</url-pattern>
  </servlet-mapping>
</web-app>